body{
	background: #EAEAEA;
}
#register, #login{
	float: right;
}
p{
	color: red;
}
p.confirm{
	color: green;
}
.page-header{
	margin-top: 10px;
}
	.page-header h2{
		display: inline-block;
	}
	.page-header a{
		float: right;
		margin-top: 30px;
	}
.add_travel_plan_link{
	font-size: 1.3em;
	float: right;
}
#add_plan_btn{
	float: right;
}